Makefile
Makefile.in
.deps
.libs
.msg
.dirstamp
*.lo
*.la
*.a
*.o
*~
/build/
/build-cmake/
/build-wasm*/
/embedders/kitty/target/
aclocal.m4
autom4te.cache
ar-lib
__pycache__/
*.pyc
m4/lt*m4
m4/libtool.m4
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
test-driver
*.trs
test-suite.log
xorg-server.pc
stamp-h?
do-not-use-config.h
do-not-use-config.h.in
kdrive/fbdev/Xfbdev
kdrive/memory/Xmemory
kdrive/memory/tinyx-api-test
kdrive/memory/tinyx-api-test.log
kdrive/memory/tinyx-embed-example
kdrive/vesa/Xvesa
dix/embedded-font-data-test
dix/embedded-font-data-test.log
os/host-runtime-test
os/host-runtime-test.log
include/dix-config.h
include/kdrive-config.h
include/xkb-config.h
ylwrap
err
*rig
*rej
config.cache
*.tar.*
